{% extends 'menu.html' %}
{% block updatephoto %}
{% block title %}<title>Upload Photo </title> {% endblock %}
<body>
	<br>
	<form action="updatephoto" method="POST" enctype="multipart/form-data">
		<table border="1" align="center">
	<tr>
		<td>Emp Id</td>
		<td><input type="text" name="empid"></td>
  </tr>
	
	</tr>
	<tr><td>Image </td><td> <input style="margin-right: 5px;" type="file" accept="image/*" name="image"></td>
	</tr>
	<tr>
		<td colspan="3" align="center"><input  type="submit" value="Update"></td>
	</tr>
	</table>
</form>
{% endblock %}